html{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #F6F8FF;
}

/* navbar */

#navbar {
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-image:linear-gradient(50deg, #F3A712 10%, #7D82B8 100%);
    color: #3C3A8C;
    /* color: white; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-end; */
    /* align-self: flex-start; */
    /* flex-grow: 1; */
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 150px;
    position: fixed;
    top: 0;
    left: 0;


}

/* Main */

.main{
    display: flex;
    justify-content: center;
    color: #6E0D25;
    padding-right: 30px;
    
}

#mainText{
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;

}
.name{
    
}